{{#unless archives}}
  <h4 class="no-archives">No archive(s) here!</h4>
  <div class="no-archives">
    Deleted archives will be added here, where afterwards
    you can discard archive reminders or restore them back.
  </div>
{{/unless}}

<div class="archives">
  {{#each archives}}
    <div class="archive" data-id="{{id}}" title="{{reminder.title}}">
      <div class="title">{{reminder.title}}</div>
      <div class="context-menu">
        <div class="context-menu-button fas fa-ellipsis-v"></div>
        <div class="menu">
          <div class="restore">Restore Archive</div>
          <div class="delete">Delete Archive</div>
        </div>
      </div>

      <div class="content">{{{preserve_whitespace reminder.reminder}}}</div>
      <div class="due-date">{{utc_date reminder.due_date}}</div>
    </div>
  {{/each}}
</div>
