{{#unless archives}}
  <h4 class="no-archives">No archive(s) here!</h4>
  <div class="no-archives">
    Deleted archives will be added here, where afterwards
    you can discard archive reminders or restore them back.
  </div>
{{/unless}}

<div class="archives">
  {{#each archives}}
    <div class="archive" data-id="{{reminder.id}}" title="{{reminder.title}}">
      <div class="title">{{reminder.title}}</div>
      <div class="content">{{{preserve_whitespace reminder.reminder}}}</div>
      <div class="due-date">{{utc_date reminder.due_date}}</div>
    </div>
  {{/each}}
</div>
