<div class="reminders">
  <div class="reminder" data-id="{{ id }}" title="{{ title }}">
    <div class="title">{{title}}</div>
    <div class="content">
      {{reminder}}
    </div>
    <div class="due-date">{{due_date}}</div>
  </div>
</div>
