{{!-- If there are no reminders --}}
{{#unless reminders}}
  <h4 class="no-reminders">No reminder(s) have been added yet!</h4>
  <div class="no-reminders">
    Click the "a" hotkey, or the add button on the
    bottom right corner to open the reminder modal and
    add a reminder.
  </div>
{{/unless}}

<div class="reminders hide">
  {{#each reminders}}
    <div class="reminder" data-id="{{ id }}" title="{{ title }}">
      <div class="title">{{title}}</div>
      <input class="edit edit-title" value="{{title}}" name="title" type="text">

      <div class="context-menu">
        <div class="context-menu-button fas fa-ellipsis-v"></div>
        <div class="menu">
          <div class="edit-reminder">Edit Reminder</div>
          <div class="delete-reminder">Delete Reminder</div>
        </div>
      </div>

      <div class="edit-ui">
        <div class="container">
          <button class="fas fa-check update-reminder"></button>
          <button class="fas fa-times cancel-editing"></button>
        </div>
      </div>

      <div class="content">{{{render_reminder_content reminder}}}</div>
      <textarea class="edit edit-content" name="reminder"></textarea>
      <div class="due-date">{{utc_date due_date}}</div>
    </div>
  {{/each}}
</div>
