<html lang="en">
  <head>
    {{> head-content
      title='Reminder App'
    }}
    {{{ render_bundle 'main-css' }}}
    {{{ render_bundle 'vendor' }}}
  </head>
  <body>
    {{> ask-for-push-modal}}
    <header>Reminder App</header>
    <main>
      {{> reminders}}
      {{> add-reminder-form }}
      <button id="add-reminder-btn">+</button>
    </main>

    <script>
      var publicKey = "{{publicKey}}";
      var swPath = "{{swPath}}";
    </script>
    {{{ render_bundle 'main' }}}
  </body>
<html>
