<html lang="en">
  <head>
    {{> head-content
      title='Reminder App'
    }}

    <link rel="manifest" href="webapp-manifest.json">
    {{{ render_bundle 'main-css' }}}
    {{{ render_bundle 'vendor' }}}
  </head>
  <body>
    {{> ask-for-push-modal}}
    {{> install-app-banner}}
    <header>
      <div class="menu-bar">
        <i class="material-icons">menu</i>
        <div class="menu-holder">
          <div class="menu-sidebar">
            <div class="close">&times;</div>
            <div data-menu="archive">Archives</div>
          </div>
        </div>
      </div>Reminder App
    </header>

    <main>
      {{~> reminders~}}
      {{> add-reminder-form }}
      <button id="add-reminder-btn">+</button>
    </main>

    <div class="status-bar"></div>
    <script>
      var publicKey = "{{publicKey}}";
      var swPath = "{{swPath}}";
    </script>
    {{{ render_bundle 'main' }}}
  </body>
<html>
